<!-- login.hbs -->

<style>
    .spaced {
        margin-top: 10px;
    }
</style>

<div style="width:100%;margin-top:100px;">
    <form id="loginForm" style="margin:auto;width:30%;" action="/home" method="post">
        <h3>Sign in</h3>
        <div class="form-group spaced">
            <label for="account-number">Account number:</label>
            <input class="form-control" id="account-number" required>
        </div>
        <div class="form-group spaced">
            <label for="routing-number">Routing number:</label>
            <input class="form-control" id="routing-number" required>
        </div>
        <button type="submit" class="btn btn-primary spaced">Continue to Events</button>
    </form>
</div>